Angular Course/inventory-app/node_modules/
Alfresco-training/AllInOne/Aikau-Share/alf_data_dev/
Alfresco-training/AllInOne/add-action-doclib-share/target
Alfresco-training/AllInOne/add-action-doclib-share/bin
Alfresco-training/AllInOne/add-action-repo/target
Alfresco-training/AllInOne/add-action-repo/bin
Alfresco-training/AllInOne/add-create-menuitem-doclib-share/target
Alfresco-training/AllInOne/add-create-menuitem-doclib-share/bin
Alfresco-training/AllInOne/add-create-menuitem-doclib-share/.settings/
Alfresco-training/AllInOne/add-metadata-template-doclib-repo/.settings/
Alfresco-training/AllInOne/add-metadata-template-doclib-repo/bin/
Alfresco-training/AllInOne/Aikau-Share/.settings/org.eclipse.core.resources.prefs
Alfresco-training/AllInOne/Aikau-Share/target/
Alfresco-training/AllInOne/AllInOne-platform-jar/bin/
Alfresco-training/AllInOne/AllInOne-share-jar/target/
Alfresco-training/AllInOne/customize-widget-instantiation-shareJar/target/
Alfresco-training/AllInOne/target/
Alfresco-training/SDK 2.2.1/alfresco-amp-training/alf_data_dev/contentstore/2019/2/7/14/38/09d9d3ee-190c-4128-8a05-9b9827a62b56.bin
Alfresco-training/SDK 2.2.1/alfresco-amp-training/target/
Alfresco-training/SDK 2.2.1/share-amp-training/target/
Alfresco-training/AllInOne/AllInOne-platform-jar/target/
Alfresco-training/AllInOne/AllInOne-share-jar/bin/
Alfresco-training/SDK 2.2.1/alfresco-amp-training/alf_data_dev/
Alfresco-training/AllInOne/add-metadata-template-doclib-share/bin/
