<div class="ui raised segment">
  <h2 class="ui header">Demo Form: Sku with Builder</h2>
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)"
        class="ui form">

    <div class="field">
      <label for="skuInput">SKU</label>
      <input type="text"
             id="skuInput"
             placeholder="SKU"
             [formControl]="myForm.controls['sku']">

      <label for="skuInput2">SKU</label>
      <input type="text"
              id="skuInput2"
              placeholder="SKU2"
              [formControl]="myForm.controls['sku2']">       
    </div>

  <button type="submit" class="ui button">Submit</button>
  </form>
</div>
