<div class="ui inverted segment centered grid">
    <div class="four wide column">  
        <button
         (click)="onSelectCoffee('Expresso')"
         class="ui inverted teal basic button" #expresso>Expresso</button>
      </div>
      <div class="four wide column">
          <button
           (click)="onSelectCoffee('Latte')"
           class="ui inverted brown basic button" #latte>Latte</button>
      </div>
      <div class="four wide column">
            <button
             (click)="onSelectCoffee('Capuccino')"
             class="ui inverted brown basic button" #capuccino>Capuccino</button>
        </div>
</div>