<div class="ui raised segment">
  <h2 class="ui header">Demo Form: with custom validations</h2>
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)"
        class="ui form"
        [class.error]="!myForm.valid && myForm.touched">

    <div class="field"
        [class.error]="!sku.valid && sku.touched">
      <label for="skuInput">SKU</label>
      <input type="text"
             id="skuInput"
             placeholder="SKU"
             [formControl]="sku">
       <div *ngIf="sku.hasError('invalidSku')"
         class="ui error message">SKU must begin with <span>123</span></div>
    </div>

    <button type="submit" class="ui button">Submit</button>
  </form>
</div>
